body {
  margin: 0;
  background-color: black;
}

header {
  background-color: transparent;
  padding: 0 1rem;
}

.logo {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.search-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 0.75rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding: 1.5rem 4rem;
}

.search-button img {
  width: 1rem;
  height: 1rem;
}

.sign-up-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;

  width: 90px;
  height: 35px;

  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  border-radius: 10px;

  display: inline-block;

  background-color: white;
  color: black;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sign-up-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;

  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.50);

  transform: translateY(-3px);
}

.sign-up-button:active {
  transform: translateY(0);
}

.login-button {
  font-family: "Inter", sans-serif;

  font-weight: 600;

  width: 90px;
  height: 35px;

  cursor: pointer;
  outline: none;
  border: 2px solid white;
  background: none;
  border-radius: 10px;

  display: inline-block;

  background-color: transparent;
  color: white;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-button:hover {
  background-color: white;
  color: black;

  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.50);

  transform: translateY(-3px);
}

.login-button:active {
  transform: translateY(0);
}

.signup-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.main-text {
  color: white;

  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  max-width: 500px;
}

.subtitle-text {
  color: white;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
  max-width: 800px;
}

.landing-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}

.signup-card {
  background-color: rgba(255, 255, 255, 0.90);

  width: 60rem;
  height: 40rem;

  border-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.signup-card:hover {
  background-color: white;

  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.50);
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.form-header {
  text-align: center;
}

.signup-banner {
  flex: 1;
  background-color: gray;
}

.signup-form {
  font-family: "Inter", sans-serif;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.signup-form input {
  width: 100%;
}
